
/*LAYOUT*/
#site-wrapper {
    width:1024px;
    margin:0px auto;
}
.column-wrapper {
    padding-left:10px;
}

/*GRID*/
.tls-row {
    display: block;
    float: left;
    position: relative;
    width: 100%;
}
.grid-cell {
    float: left;
    left: 100%;
    position: relative;
}

.position-leftmost {
    margin-left: -100%;
}
.position-rightcolumn {
    margin-left:-31.64%;
}
.position-half {
    margin-left:-50%;
}

.width-content {
    width:68.36%;
}
.width-column {
    width:31.64%;
}
.width-full-content {
    width:100%;
}
.width-half {
    width:50%;
}
