@charset "UTF-8";
/* -------------------------------------------------------------- 
   style.css [Main Stylesheet]
   Imports every style sheet in site.

	Developerd by Diego Herrera Ojeda
	Website: http://www.diegoherrera.com
	E-Mail: diegoherrerao@gmail.com
	April 2011
-------------------------------------------------------------------*/

/* -------------------------------------------------------------- 
   layout.css
   * Sets up general layout styling.
-------------------------------------------------------------- */
a, img, object {
	border:none;
	outline:none;
}
/* GENERAL STYLES */
html, body, div {	/* Eliminar todo el bloque */
	border: none;
	margin: 0;
	padding: 0;
}
body div {	 /* Eliminar todo el bloque */
	color:  #000;
	font-family:Arial, Helvetica, sans-serif;
}

/* COMMON LAYOUT */
#telesur-container {
	background: #fff;	/* Modificar */
	margin: 0 auto;
	overflow: auto;
	padding: 0;
	width: 1024px;
    }

#telesur-header {
    background: url("../img/header-bg.jpg") no-repeat scroll right top #3C608C;
	height: 151px;
	margin: 0;
	padding: 0;
    position: relative;
    }

#telesur-header #logo-telesur a {
    background: url("../img/logo.png") no-repeat scroll 0 0 transparent;
    height: 102px;
    display: block;
    float: left;
    width: 338px;
    }

/*social icons*/
#telesur-header .social-links {
    float:right;
    padding-top:10px;
}
#telesur-header .social-links span {
    display:none;
}
#telesur-header .social-links a {
    height:26px;
    padding-left:30px;
    float:left;
}
#telesur-header .social-links .facebook-icon {
    background:url("../img/facebook-icon.png") no-repeat scroll 0 0 transparent;
}
#telesur-header .social-links .twitter-icon {
    background:url("../img/twitter-icon.png") no-repeat scroll 0 0 transparent;
}
#telesur-header .social-links .youtube-icon {
    background:url("../img/youtube-icon.png") no-repeat scroll 0 0 transparent;
}
#telesur-header .social-links .rss-icon {
    background:url("../img/rss-icon.png") no-repeat scroll 0 0 transparent;
}
#logo-telesur {
    float:left;
    margin-top:30px;
    margin-left:11px;
}
#telesur-subheader {
	margin: 0;
	padding: 0;
    background: url("../img/menu-bg.png") repeat-x scroll 0 0 #cf0c0a;
    position:relative;
    width:1024px;
    clear:both;
    float:left;
}

#telesur-middle {
	margin: 0 0 5px 0;
	padding: 0;
	float:left;
	clear:both;
	width:100%;
}
#telesur-subfooter {
	clear: both;
	margin: 0 0 5px 0;
	padding: 0;
}
#telesur-footer {
	clear: both;
	margin: 0;
	padding: 0;
}

/* FULL WIDTH ONE COLUMN */
#telesur-full-column, .telesur-full-column {
	height: auto; /* Puede cambiar a altura fija en pixeles */
	margin: 0;
	padding: 10px 0 10px 0;
	clear:both;
	float:left;
	width:100%;
}
#especiales {
	width:1024px;
	height:70px;
	margin:0;
	padding:0;
}
#especiales .especial, #especiales .especial {
	width:255px;
	height:70px;
	display:block;
	margin:0;
	float:left;
    text-align: center;
}


/* LEFT SIDEBAR, RIGHT CONTENT */
#telesur-left-sidebar {
	float: left;
	height: auto; /* Puede cambiar a altura fija en pixeles */
	margin: 0 10px 5px 0;
	padding: 0;
	width: 180px;
}
#telesur-right-content {
	display: inline;
	float: right;
	height: auto; /* Puede cambiar a altura fija en pixeles */
	margin: 0 0 5px 10px;
	padding: 0;
	width: 720px;
}

/* LEFT CONTENT, RIGHT SIDEBAR */
#telesur-left-content a, #telesur-left-content a:visited,
.telesur-left-content a, .telesur-left-content a:visited,
#telesur-left-content-big a, #telesur-left-content-big a:visited,
.telesur-left-content-big a, .telesur-left-content-big a:visited,
#telesur-right-sidebar a, .telesur-right-sidebar a:visited,
.telesur-right-sidebar a, .telesur-right-sidebar a:visited {
    color: #666666;
}
#telesur-left-content a:hover,
.telesur-left-content a:hover,
#telesur-right-sidebar a:hover,
.telesur-right-sidebar a:hover {
    text-decoration: underline;
}

/* LEFT CONTENT, RIGHT SIDEBAR */
#telesur-left-content, .telesur-left-content {
	float: left;
	height: auto; /* Puede cambiar a altura fija en pixeles */
	margin: 0 5px 5px 0;
	padding: 0;
	width: 700px;
}
#telesur-left-content #nota-titular {
	width:620px;
	min-height:355px;
	display:block;
	background:#ddd;
	margin:0 10px 15px 5px;
	padding-left:8px;
	clear:both;
}
#telesur-left-content #nota-titular p {
	float:left;
	width:200px;
	margin:0;
	line-height:20px;
	color:#666;
	padding-bottom:10px;
	border-bottom:dashed 1px #666;
}
#telesur-right-sidebar, 
.telesur-right-sidebar {
	float: right;
	display: inline;
	height: auto; /* Puede cambiar a altura fija en pixeles */
	margin: 10px 0 5px 5px;
	padding: 0;
	width: 300px;
}
#especiales-vertical {
	display:block;
	padding:10px 15px 10px 15px;
    background-color:#efefef;
	/*
    height:360px;
	background:#EDEDED;
     */
}
#especiales-vertical .especial {
    padding: 5px;
    text-align: center;
}

/* RIGHT SIDEBAR SMALL */

#telesur-left-content-big {
	float: left;
	height: auto; /* Puede cambiar a altura fija en pixeles */
	margin: 0 5px 5px 0;
	padding: 0;
	width: 700px;
}
#telesur-left-content-big #video-scroll-home {
	width:690px;
	height:550px;
	display:block;
	border:solid 1px #666;
	margin:0 0 15px 0;
    clear:both;
}
#telesur-left-content-big #video-scroll-home h1 {
	font-size:24px;
    line-height: 24px;
	margin:5px 0;
}
#telesur-left-content-big #video-scroll-home p {
	border-bottom:solid 1px #ccc;
	width:220px;
	float:left;
	padding-left:10px;
	margin-bottom:5px;
}
#telesur-left-content-big ul {
	width:200px;
	height:auto;
	float:left;
	margin:0;
	padding:0;
	list-style:none;
}
#telesur-left-content-big ul li a {
	color:#AC1206;
	text-decoration:none;
	display:block;
	padding-bottom:15px;
	font-size:10px;
}
#telesur-left-content-big #scroller-video-home {
	width:670px;
	height:155px;
	display:block;
	float:left;
	margin:5px;
	border-top:solid 1px #666;
	padding:5px;
    clear:both;
}
#telesur-left-content-big #scroller-video-home #video-thumb-home {
	width:140px;
	height:184px;
	display:block;
	float:left; margin:8px 10px;
	background:#CCC;
}
#telesur-left-content-big #scroller-video-home #video-thumb-home img {
	width:140px;
	height:94px;
	display:block;
	float:left;
	background:#999;
	margin-bottom:5px;
}
#telesur-left-content-big #scroller-video-home #video-thumb-home a p {
	width:120px;
	border:none;
	font-size:11px;
}
.notas-sencilla-grande  {
	width:340px;
	height:245px;
	float:left;
	display:block;
	border-bottom: solid 2px #AC1206;
	border-right:solid 2px #AC1206;
	margin:3px 0 0 5px;
}
.notas-sencilla-grande .nota-sencilla-grande-thumb {
    /*
    */
	width:144px;
	height:96px;
	background:#fff;
	display:block;
	float:left;
	margin:0 5px 5px 0;
    text-align: center;
    overflow:hidden;
}
.notas-sencilla-grande h3 {
    line-height: 18px;
    font-size: 18px;
    height: 54px;
}
#telesur-right-sidebar-small > div {
    display: block;
}
#telesur-right-sidebar-small {
	float: right;
	display: inline;
	height: auto; /* Puede cambiar a altura fija en pixeles */
	margin: 10px 0 5px 5px;
	padding: 0;
	width: 300px;
}


/* SIDEBARS IN LEFT AND RIGHT, CENTER CONTENT */
#telesur-first-sidebar {
	float: left;
	height: auto; /* Puede cambiar a altura fija en pixeles */
	margin: 0 10px 5px 0;
	padding: 0;
	width: 180px;
}
#telesur-center-content {
	display: inline;
	float: left;
	height: auto; /* Puede cambiar a altura fija en pixeles */
	margin: 0 10px 5px 10px;
	padding: 0;
	width: 520px;
}
#telesur-second-sidebar {
	float: left;
	height: auto; /* Puede cambiar a altura fija en pixeles */
	margin: 0 0 5px 10px;
	padding: 0;
	width: 180px;
}

/* TWO COLUMNS */
#telesur-left-half {
	float: left;
	height: auto; /* Puede cambiar a altura fija en pixeles */
	margin: 0;
	padding: 0;
	width: 500px;
}
#telesur-right-half {
	display: inline;
	float: right;
	height: auto; /* Puede cambiar a altura fija en pixeles */
	margin: 0 0 5px 10px;
	padding: 0;
	width: 450px;
}

/* THREE COLUMNS */
#telesur-left-third {
	float: left;
	height: auto; /* Puede cambiar a altura fija en pixeles */
	margin: 0 10px 5px 0;
	padding: 0;
	width: 293px;
}
#telesur-center-third {
	display: inline;
	float: left;
	height: auto; /* Puede cambiar a altura fija en pixeles */
	margin: 0 10px 5px 10px;
	padding: 0;
	width: 293px;
}
#telesur-right-third {
	float: left;
	height: auto; /* Puede cambiar a altura fija en pixeles */
	margin: 0 0 5px 10px;
	padding: 0;
	width: 293px;
}

/* FOUR COLUMNS */
#telesur-first-column {
	float: left;
	height: auto; /* Puede cambiar a altura fija en pixeles */
	margin: 0 10px 5px 0;
	padding: 0;
	width: 215px;
}
#telesur-second-column {
	float: left;
	height: auto; /* Puede cambiar a altura fija en pixeles */
	margin: 0 10px 5px 10px;
	padding: 0;
	width: 215px;
}
#telesur-third-column {
	float: left;
	height: auto; /* Puede cambiar a altura fija en pixeles */
	margin: 0 10px 5px 10px;
	padding: 0;
	width: 215px;
}
#telesur-fourth-column {
	float: left;
	height: auto; /* Puede cambiar a altura fija en pixeles */
	margin: 0 0 5px 10px;
	padding: 0;
	width: 215px;
}

#senal-en-vivo {
	display: block;
	width: 300px;
	height: 86px;
    margin: 0px auto 10px;
    }

#mapa-interactivo {
	width:300px;
	height:274px;
	display:block;
	float:left;
	background:url(../img/img-mapa.png) no-repeat;
	margin-bottom:10px;
	font-size:21px;
	color:#B40200;
	text-align:center;
}
.nota-home-simple {
	width:620px;
	height:auto;
	float:left;
	border-bottom:solid 1px #B40200;
	margin-bottom:10px;
}
.nota-home-simple .imagen-nota-simple {
	width:216px;
	height:144px;
	display:block;
	float: left;
	background:#CCC;
	margin:0 5px 10px 0;
}
.nota-home-simple .titulo-nota-home {
	font-size:18px;
	color:#666;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	margin:0 0 5px 0;
}
.nota-home-simple p{
	line-height:20px;
	font-size:12px;
	display:block;
	border-bottom:dashed 1px #999;
}
#ultimos-videos {
	width:295px;
	height:240px;
	float:left;
	border:solid 1px #666;
	margin-bottom:10px;
	padding:5px 0 0 5px;
}

#telesur-al-dia a {
	width:300px;
	height:40px;
	float:left;
	margin-bottom:10px;
	display:block;
	background:#4C4C4C;
	color:#fff;
	font-size:32px;
	text-decoration:none;
	text-align:center;
	clear:both;
}
#ultimos-programas {
	width:295px;
	height:240px;
	float:left;
	border:solid 1px #666;
	margin-bottom:10px;
	padding:5px 0 0 5px;
}
#ultimos-videos-relacionados {
	width:300px;
	height:230px;
	display:block;
	border:solid 1px #666;
	margin-bottom:10px;
	padding:5px 0 0 5px;
	float:left;
	text-transform:uppercase;
	font-size:11px;
}
#lo-mas {
	width:305px;
	height:215px;
	display:block;
	float:left;
	margin:5px 0 0 10px;
}
#compartir {
	width:220px;
	height:30px;
	display:block;
	float:left;
	margin:10px 5px;
}
#compartir ul {
	list-style:none;
	margin:0;
	padding:0;
}
#compartir ul li a {
	width:18px;
	height:18px;
	float:left;
	margin:0 2px;
}
.hide {
	visibility:hidden;
}
#categoria-multimedia {
	width:840px;
	height:auto;
	display:block;
	float:left;
	clear:both;
	margin:0 0 20px 0;
}
#scroller-seccion {
	width:1024px;
	height:113px;
	float:left;
	display:block; 
	clear:both;
}
#scroller-seccion h1 {
	width:110px;
	height:80px;
	display:block;
	text-transform:uppercase;
	font-size:11px;
	text-align:center;
	float:left;
}
.video-section {
	width:205px;
	height:80px;
	display:block;
	float:left;
	margin:0 3px;
}
.image-video {
	width:100px;
	height:67px;
	display:block;
	background:#ddd;
	float:left;
	clear:both;
	margin:0 4px;
}
.video-section p {
	text-transform:none;
	display:block;
	float:left;
	width:94px;
	height:55px;
	display:block;
}
#telesur-seccion-listing.telesur-left-content {
    min-height: 650px;
}
.notas-seccion, #telesur-seccion-listing .tileItem  {
	width:290px;
	height:244px;
	float:left;
	display:block;
	border-bottom: solid 2px #B40200;
	border-right:solid 2px #B40200;
	margin:3px 0 0 10px;
}
.notas-seccion .nota-seccion-thumb {
	width:144px;
	height:96px;
	display: table-cell;
	float:left;
	margin:0 5px 5px 0;
    text-align: center;
    vertical-align: middle;
}
.notas-seccion  p {
	width:130px;
	height:auto;
	line-height:18px;
	font-size:12px;
	float:left;
}
#videos-categoria {
	width:1024px;
	height:auto;
	float:left;
} 
#videos-categoria #scroller-contienente {
	width:202px;
	height:400px;
	float:left;
}
#videos-categoria #scroller-contienente ul{
	width:210px;
	height:375px;
	display:block;
	font-size:13px;
	text-transform:uppercase;
	margin:0;
	padding:0;
	list-style:none;
	overflow:auto;
	color:#333;
	float:left;
}
#videos-categoria #scroller-contienente ul li a{
	text-decoration:none;
	color:#333;
	width:200px;
	height:auto;
	line-height:20px;
	margin:2px;
	padding-left:5px;
}
#videos-categoria #scroller-contienente li {
	display: block;
}
#videos-categoria #scroller-contienente img {
	margin-right:3px;
}
#videos-categoria #scroller-contienente #buscador-videos-seccion {
	display:block;
	font-size:12px;
	width:137px;
	float:left;
}
#videos-categoria #video-detail {
	width:450px;
	height:420px;
	float:left;
	display:block;
	margin: 0 10px 10px 20px;
}
#videos-categoria #scroll-thumbs-video {
	width:275px;
	height:420px;
	float:left;
}
#caja-titulares {
    clear:left;
    display:block;
	width:730px;
    height: 230px;
}
#mas-titulares {
	height:230px;
    position:absolute;
    overflow:hidden;
    width: 700px;
    /*
	float:left;
    */
}
#mas-titulares .titulares {
    width: 20000em;
    position:absolute;
    clear:both;
}
#mas-titulares .titular-individual {
	display:block;
	float:left;
	width:220px;
	height:194px;
	border:solid 1px #666;
	margin:0 3px;
	padding:3px;
}
#mas-titulares .titulo-seccion {
	width:218px;
	height:30px;
	float:left;
	margin-bottom:3px;
	padding:3px 0 0 0;
	border-bottom:solid 1px #666;
}

/********/


/* prev, next, prevPage and nextPage buttons */
.btn-seguir-leyendo a.browse {
    background:url(../img/scrollable/arrow/hori_large.png) no-repeat;
    display:block;
    width:30px;
    height:30px;
    float:left;
    margin:40px 10px;
    cursor:pointer;
    font-size:1px;
}

/* right */
.btn-seguir-leyendo a.right { background-position: 0 -30px; clear:right; margin-right: 0px;}
.btn-seguir-leyendo a.right:hover       { background-position:-30px -30px; }
.btn-seguir-leyendo a.right:active  { background-position:-60px -30px; } 


/* left */
.btn-seguir-leyendo a.left              { margin-left: 0px; } 
.btn-seguir-leyendo a.left:hover        { background-position:-30px 0; }
.btn-seguir-leyendo a.left:active   { background-position:-60px 0; }

/* up and down */
.btn-seguir-leyendo a.up,
.btn-seguir-leyendo a.down        { 
    background:url(../img/scrollable/arrow/vert_large.png) no-repeat; 
    float: none;
    margin: 10px 50px;
}

/* up */
.btn-seguir-leyendo a.up:hover          { background-position:-30px 0; }
.btn-seguir-leyendo a.up:active         { background-position:-60px 0; }

/* down */
.btn-seguir-leyendo a.down              { background-position: 0 -30px; }
.btn-seguir-leyendo a.down:hover        { background-position:-30px -30px; }
.btn-seguir-leyendo a.down:active   { background-position:-60px -30px; } 


/* disabled navigational button */
.btn-seguir-leyendo a.disabled {
    visibility:hidden !important;       
}   

/********/

#mas-titulares ul {
	width:215px;
	height:auto;
	margin:0;
	padding:0;
	text-decoration:none;
	font-size:12px;
	list-style:inside;
}
#mas-titulares li a {
	width:215px;
	height:auto;
	line-height:16px;
	text-decoration:none;
	color:#666;
	padding:3px 0 0 0;
}
#nota-detail {
	width:205px;
	display:block;
	border:solid 1px #666;
	float:left;
	margin:10px 10px 0 0;
    padding: 8px 5px;
}
#notas-relacionadas {
	width:620px;
	height:auto;
	display:block;
	clear:both;
}
#notas-relacionadas ul {
	width:610px;
	height:auto;
	float:left;
	margin-bottom:20px;
	padding:0;
	list-style:none;
	border-top: solid 2px #B40200;
	border-bottom: solid 2px #B40200;
}
#notas-relacionadas li a {
	width:610px;
	height:auto;
	line-height:32px;
	color:#666;
	text-decoration:none;
	font-size:12px;
}
#comentarios-nota {
	width:620px;
	height:auto;
	float:left;
}
#comentarios-nota .comentario-individual {
	width:620px;
	min-height:120px;
	float:left;
	display:block;
	padding:5px;
	background:url(../img/iconos/nota-detail/comentario-nota-back.png) no-repeat;
	margin-bottom:10px;
}
#comentarios-nota .comentario-individual .titulo-comentario {
	font-size:11px;
	margin:5px 3px;
}
#comentarios-nota .comentario-individual .titulo-comentario a {
	font-size:11px;
	text-decoration:none;
	font-weight:bold;
	color:#666;
}
#comentarios-nota .comentario-individual p {
	width:570px;
	color:#999;
	margin-left:15px;
}
#comentarios-nota .comentario-individual .img-usuario {
	background:url(../img/iconos/nota-detail/user.png) no-repeat;
	width:40px;
	height:40px;
	display:block;
	margin:0 8px  8px 0;
	float:left;
}
#entrevista-home {
	border-right:solid 2px #AC1206;
	border-bottom:solid 2px #AC1206;
}
#entrevista-home img {
	width:auto;
	height:146px;
	display:block;
	background:#999;
	float:left;
	margin:10px 15px 5px 0;
}
#entrevista-home h4 {
	color:#AC1206;
	margin:0 0 5px 0;
	padding:0;
	font-weight:normal;
	font-size:14px;
}
body.portaltype-collective-nitf-content #parent-fieldname-text {
    clear: both;
    padding: 0;
}





/**
    CUSTOM CODE by Quimera
**/
/*NOTA LAYOUT*/
.width-video {
    width:380px;
}
.position-video {
    margin-left:-700px;
}
.width-metadata {
    width:310px;
} 
.position-metadata {
    margin-left:-320px;
}

#media-counter {
    border: 1px solid #9B9B9B;
    clear: both;
    float: left;
    width: 202px;
    padding:8px 0;
}

.video-widget {
    border: 1px solid #9B9B9B;
    margin: 0 10px 0 0;
    padding: 14px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.video-widget .newsImage {
    width:340px;
}

/*google map home*/
.google-map .lupa {
    background: url(++theme++telesur.theme/img/icon-fullscreen.png) scroll no-repeat center center transparent;
    width:30px;
    height:30px;
    position:absolute;
    cursor:pointer;
    right: 17px;
    top: 37px;    
}
.google-map .lupa span {
    display:none;
}
.google-map-width {
    width:420px;
}
.google-map-position {
    margin-left:-100%;
}
.ultimos-programas-width {
    width:250px;
}
.ultimos-programas-position {
    margin-left:-250px;
}
.ultimos-programas-wrapper {
    padding-top:7px;
}
