@charset "UTF-8";
/* --------------------------------------------------------------
   style.css [Main Stylesheet]
   Imports every style sheet in site.

    Developerd by Diego Herrera Ojeda
    Website: http://www.diegoherrera.com
    E-Mail: diegoherrerao@gmail.com
    April 2011
-------------------------------------------------------------------*/

/* --------------------------------------------------------------
   style.css
   * Import style sheets for layout and content elements
-------------------------------------------------------------- */
@import "content.css";
@import "layout.css";
@import "menu.css";

/*GENERAL*/
.separator {
    clear: both;
    border-bottom: solid 2px #AC1206;
    margin: 15px 0;
    }


#content {
    margin:15px 0px;
}
/*content styles*/
h1,
h2,
h3 {
    line-height: 1.1em;
    }

h1 a {
    color: #333 !important;
    }

.field {
    width: 650px;
    }

.overlay-ajax .field {
    width: auto;
    }

/**
* FOOTER
**/
#footer {
    padding-bottom: 15px;
    }

.action-buttons {
    padding-top: 15px;
    border-top: 2px solid #ab1306;
    border-bottom: 2px solid #ab1306;
    }

.action-buttons .actions-list {
    display: inline;
    float: left;
    margin-bottom: 15px;
    }

.action-buttons .actions-list a {
    color: #323232;
    font-size: 12px;
    padding: 3px 10px 3px 23px;
    margin-right: 10px;
    background: white url(++theme++telesur.theme/img/icon-bg.png) repeat-x scroll 0 bottom;
    border: 1px solid #999;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    }

.action-buttons .actions-list .icon {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 2px;
    top: 2px;
    }

.action-buttons .actions-list .subscribe .icon {
    background: transparent url(++theme++telesur.theme/img/iconos-footer.png) no-repeat scroll 0 0;
    }

.action-buttons .actions-list .contact .icon {
    background: transparent url(++theme++telesur.theme/img/iconos-footer.png) no-repeat scroll -18px 0;
    }

.action-buttons .actions-list .mobile .icon {
    background: transparent url(++theme++telesur.theme/img/iconos-footer.png) no-repeat scroll -54px 0;
    }

.action-buttons .actions-list .jobs-telesur .icon {
    background: transparent url(++theme++telesur.theme/img/iconos-footer.png) no-repeat scroll -72px 0;
    }

.action-buttons .actions-list .im-reporter .icon {
    background: transparent url(++theme++telesur.theme/img/iconos-footer.png) no-repeat scroll -90px 0;
    }

.action-buttons .actions-list .multimedia .icon {
    background: transparent url(++theme++telesur.theme/img/iconos-footer.png) no-repeat scroll -126px 0;
    }

#footer .colophone {
    padding-top: 15px;
    }

#footer .colophone .cell-wrapper {
    height: 10em;
    border-right: 1px solid #aa1406;
    padding-right: 15px;
    }

#footer .colophone .publicidad .cell-wrapper {
    border-right: 1px solid #FFF;
    }

#footer .colophone .cell-wrapper h3 {
    color: #333;
    font-size: 16px;
    padding-bottom: 10px;
    }

#footer .colophone .cell-wrapper li {
    display: block;
    }

#footer .colophone .cell-wrapper ul a {
    font-size: 13px;
    color: #666;
    }

#footer .colophone .telesur-cc p {
    color: #333;
    }

#footer .colophone .telesur-cc span {
    }

